@model THDShop.PRODUCT

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    <link href="~/Assets/css/GioHang.css" rel="stylesheet" />
    <link href="~/Assets/css/DetailsUser.css" rel="stylesheet" />
}
<div>
    <div class="special-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-5 col-lg-6 col-xl-6">
                    <div class="special-img">
                        <img src="@Url.Content(Model.IMAGE)" width="400" height="300" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-7 col-lg-6 col-xl-6">
                    <div class="special-content">
                        <div class="donut-icon m-auto">
                            <img src="img/donut.png" class="w-100" alt="" />
                        </div>
                        <h1 style="color: #db3a3a;">
                            @Html.DisplayFor(model => model.NAME)
                        </h1>
                        <p>
                            <div class="font-red">
                                <strong>Thông Số Kỹ Thuật:</strong>
                            </div>
                            <div class="padding-descrition">
                                <div>
                                    <img width="35" height="512" src="https://thenewxgear.com/wp-content/uploads/2021/08/cpu.png" class="lazyloaded" data-ll-status="loaded">
                                    <span>@Html.DisplayFor(model => model.DESCRIPTION_CPU) </span>
                                </div>
                            </div>

                            <div class="padding-descrition">
                                <div>
                                    <img width="35" height="512" src="https://thenewxgear.com/wp-content/uploads/2021/08/gpu.png" class="lazyloaded" data-ll-status="loaded">
                                    <span>@Html.DisplayFor(model => model.DESCRIPTION_CARD)</span>
                                </div>
                            </div>
                            <div class="padding-descrition">
                                <div>
                                    <img width="35" height="512" src="https://thenewxgear.com/wp-content/uploads/2021/08/ram.png" class="lazyloaded" data-ll-status="loaded">
                                    <span>@Html.DisplayFor(model => model.DESCRIPTION_RAM)</span>
                                </div>
                            </div>
                            <div class="padding-descrition">
                                <div>
                                    <img width="35" height="512" src="https://thenewxgear.com/wp-content/uploads/2021/08/ssd.png" class="lazyloaded" data-ll-status="loaded">
                                    <span>@Html.DisplayFor(model => model.DESCRIPTION_STORAGE)</span>
                                </div>
                            </div>
                            <div class="padding-descrition">
                                <div>
                                    <img width="35" height="512" src="https://thenewxgear.com/wp-content/uploads/2021/08/weight.png" class="lazyloaded" data-ll-status="loaded">
                                    <span>@Html.DisplayFor(model => model.DESCRIPTION_WEIGHT)</span>
                                </div>
                            </div>
                            <div class="padding-descrition">
                                <div>
                                    <img width="35" height="512" src="https://thenewxgear.com/wp-content/uploads/2021/08/size.png" class="lazyloaded" data-ll-status="loaded">
                                    <span>@Html.DisplayFor(model => model.DESCRIPTION_SCREEN)</span>
                                </div>
                            </div>
                        </p>
                        <div class="offer-info">
                            <div class="justify-content-center align-items-center">
                                <div>
                                    <div class="item-price">
                                        <h2 style="color:#ff0000"><span style="font-size:25px">đ</span>@Model.PRICE.ToString("#,##")</h2>
                                    </div>
                                </div>

                                <div>
                                    <a href="/Cart/AddToCart/@Model.ID" class="btn2">GIỎ HÀNG</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div style="padding-top:20px" class="font-red">
                    <strong>Mô Tả Sản Phẩm</strong>
                </div>
                <div style="padding-bottom:40px">
                    @Html.DisplayFor(model => model.DESCRIPTION)
                </div>
            </div>
        </div>
    </div>
</div>
