@model IEnumerable<THDShop.PRODUCTS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<head>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="~/Assets/main/hotte/image/x-icon" />
    <link rel="icon" href="favicon.ico" type="~/Assets/main/hotte/image/x-icon" />

    <!-- Icofont CSS -->
    <link rel="stylesheet" href="~/Assets/main/hotte/css/icofont.min.css" />
    <!-- Slick CSS -->
    <link rel="stylesheet" href="~/Assets/main/hotte/css/slick.css" />
    <link rel="stylesheet" href="~/Assets/main/hotte/css/slick-theme.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/main/hotte/css/bootstrap.min.css" />
    <!-- Venobox CSS -->
    <link rel="stylesheet" href="~/Assets/main/hotte/css/venobox.min.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Assets/main/hotte/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Assets/main/hotte/css/responsive.css" />

    <link rel="stylesheet" type="text/css" href="~/Assets/ECome/css/style.css">
</head>
<div class="font_asap">
    @if (Model.Count() > 0)
    {
        <div class="food-menu-section" id="food-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="menu-head text-center">
                            <h2><span>SẢN PHẨM HOT</span></h2>
                            <p>Các dòng sản phảm Laptop HOT</p>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel owl-theme owl-cate js-owl-cate2">
                    @foreach (var item in Model)
                    {
                        if (item.HOTPRODUCT == 1)
                        {
                            <div class="product-countd pd-bd product-inner">
                                <div class="product-item-countd">
                                    <div class="product-head product-img">
                                        <a href="/HomeUser/Details/@item.ID"><img style="height:320px; width:320px;" src="@Url.Content(item.IMAGE)" alt=""></a>
                                        <div class="ribbon-price v3 red"><span>HOT</span></div>
                                    </div>
                                    <div class="product-info">
                                        <p class="product-cate text-center">@Html.DisplayFor(modelItem => item.CATEGORy.NAME)</p>
                                        <div class="product-price thin-price v3">
                                            <span class="red">@item.PRICE.ToString("#,##")</span>
                                        </div>
                                        <h3 class="product-title text-center v2"><a href="/HomeUser/Details/@item.ID">@Html.DisplayFor(modelItem => item.NAME)</a></h3>
                                        <did id="config_tnx">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="item-left">
                                                            <img width="512" height="512" src="https://thenewxgear.com/wp-content/uploads/2021/08/cpu.png" />
                                                        </td>
                                                        <td class="item-right">@Html.DisplayFor(modelItem => item.DESCRIPTION_CPU)</td>
                                                        <td class="item-left">
                                                            <img width="512" height="512" src="https://thenewxgear.com/wp-content/uploads/2021/08/gpu.png" />
                                                        </td>
                                                        <td class="item-right">@Html.DisplayFor(modelItem => item.DESCRIPTION_CARD)</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="item-left">
                                                            <img width="512" height="512" src="https://thenewxgear.com/wp-content/uploads/2021/08/ram.png" />
                                                        </td>
                                                        <td class="item-right">@Html.DisplayFor(modelItem => item.DESCRIPTION_RAM)</td>
                                                        <td class="item-left">
                                                            <img width="512" height="512" src="https://thenewxgear.com/wp-content/uploads/2021/08/ssd.png" />
                                                        </td>
                                                        <td class="item-right">@Html.DisplayFor(modelItem => item.DESCRIPTION_STORAGE)</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="item-left">
                                                            <img width="512" height="512" src="https://thenewxgear.com/wp-content/uploads/2021/08/weight.png" />
                                                        </td>
                                                        <td class="item-right">@Html.DisplayFor(modelItem => item.DESCRIPTION_WEIGHT)</td>
                                                        <td class="item-left">
                                                            <img width="512" height="512" src="https://thenewxgear.com/wp-content/uploads/2021/08/size.png" />
                                                        </td>
                                                        <td class="item-right">@Html.DisplayFor(modelItem => item.DESCRIPTION_SCREEN)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </did>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>

