@model IEnumerable<THDShop.REPORT>

@{
}
@using (Html.BeginForm("Searchday", "Report"))
{
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">THỐNG KÊ</h1>
        <div class="input-group">
            <input type="text" name="day" class="form-control bg-light border-0 small" placeholder="Thống kê theo tháng"
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>

        <div class="form-group pull-right">
            @using (Html.BeginForm("Export", "Report", FormMethod.Post))
            {
                <input type="submit" value="report" class="btn btn-success" />
            }
        </div>
    </div>
}
<div class="text-center">
    <div>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead class="table-header">
                    <tr>
                        <th class="header__item">
                            <a class="filter__link filter__link--number" id="id" href="#">
                                Ma HD
                            </a>
                        </th>
                        <th class="header__item">
                            <a class="filter__link filter__link--number" id="name" href="#">
                                @Html.DisplayNameFor(model => model.DATERP)
                            </a>
                        </th>
                        <th class="header__item">
                            <a class="filter__link" id="cate" href="#">
                                @Html.DisplayNameFor(model => model.BILL.ORI_PRICE)
                            </a>
                        </th>
                        <th class="header__item">
                            <a class="filter__link filter__link--number" id="oriprice" href="#">
                                Tổng Tiền
                            </a>
                        </th>
                        <th class="header__item">
                            <a class="filter__link filter__link--number" id="price" href="#">
                                Tổng doanh thu tren don
                            </a>
                        </th>

                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div>
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody class="table-content">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr class="table-row">
                                <td class="table-data">
                                    @Html.DisplayFor(modelItem => item.BILL.ID)

                                </td>
                                <td class="table-data">
                                    @item.DATERP.ToString("dd/MM HH:mm")

                                </td>
                                <td class="table-data">
                                    @item.BILL.ORI_PRICE.ToString("N0")
                                </td>
                                <td class="table-data">
                                    @item.TOTALMONEY.ToString("N0")
                                </td>
                                <td class="table-data">
                                    @item.Tongdoanhthu().ToString("N0")
                                </td>


                                <td style="display: flex;align-content: center;flex-wrap: wrap;flex-direction: column;">
                                    @*<a href="@Url.Action("Edit", "Product", new { id = item.ID })" class="btn btn-sm btn-warning" style="margin-bottom: 5px;">Edit</a>
                                        <a href="@Url.Action("Delete", "Product", new { id = item.ID })" class="btn btn-sm btn-danger" style="margin-bottom: 5px;">Delete</a>
                                        <a href="@Url.Action("Detail", "Product", new { id = item.ID })" class="btn btn-sm btn-info" style="margin-bottom: 5px;">Detail</a>*@
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

