@model IEnumerable<THDShop.ORDER>

@{
    ViewBag.Title = "Index";
}

<h2>Đơn Đặt</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTALMONEY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.METHODS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DELI_ADDRESS.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DAY)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TOTALMONEY)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOTE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.STATUS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.METHODS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DELI_ADDRESS.NAME)
    </td>
    <td>
    <td>
        <a href="@Url.Action("Comfirm", "Order", new { id = @item.ID })" class="btn btn-info btn-sm">
            @if (item.STATUS.Equals(0))
            {
                <span>Xác Nhận</span>
            }
            else
            {
                <span>Đã Xác Nhận</span>
            }
        </a>
        <a href="@Url.Action("Success", "Order", new { id = @item.ID })" class="btn btn-info btn-sm">
            @if (item.STATUS.Equals(1))
            {
                <span>Hoàn Tất Đơn</span>
            }
            else
            {
                <span>Đã Hoàn Tất Đơn</span>
            }
        </a>
        <a href="@Url.Action("Cancel", "Order", new { id = @item.ID })" class="btn btn-info btn-sm">
            @if (item.STATUS.Equals(1))
            {
                <span>Hủy Đơn</span>
            }
            else
            {
                <span>Đã Hủy Đơn</span>
            }
        </a>
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })

    </td>
    </td>
</tr>
}

</table>
