@model IEnumerable<THDShop.ROLE>

@{
}
@using (Html.BeginForm("Searchname", "Role"))
{
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Thương Hiệu</h1>
        <div class="input-group">
            <input type="text" name="name" class="form-control bg-light border-0 small" placeholder="Nhập tên thương hiệu"
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
        <a href="@Url.Action("Create", "Role")" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Tạo vai tro
        </a>
    </div>
    <div class="text-center">
        <div>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead class="table-header">
                        <tr>
                            <th class="header__item">
                                <a class="filter__link filter__link--number" id="id" href="#">
                                    Ten vai tro
                                </a>
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div>
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody class="table-content">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr class="table-row">

                                    <td class="table-data">
                                        @Html.DisplayFor(modelItem => item.NAME)
                                    </td>
                                    <td style="display: flex;align-content: center;flex-wrap: wrap;flex-direction: column;">
                                        <a href="@Url.Action("Edit", "Product", new { id = item.ID })" class="btn btn-sm btn-warning" style="margin-bottom: 5px;">Edit</a>
                                        <a href="@Url.Action("Delete", "Product", new { id = item.ID })" class="btn btn-sm btn-danger" style="margin-bottom: 5px;">Delete</a>
                                        <a href="@Url.Action("Detail", "Product", new { id = item.ID })" class="btn btn-sm btn-info" style="margin-bottom: 5px;">Detail</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>}