@model IEnumerable<THDShop.MYGIFT>

@{
    ViewBag.Title = "MyGift";
}

<h2>MyGift</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GIFT.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIFT.DESCREPTION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GIFT.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIFT.DESCREPTION)
        </td>
    </tr>
}

</table>
