@model THDShop.ViewModel.User.CreateUserInput

@{
    ViewData["Title"] = "Dangky";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    <link href="~/Assets/css/GioHang.css" rel="stylesheet" />
}
@using (Html.BeginForm("RegisterUser", "LoginCustomer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container container-240">
        <div class="myaccount">
            <ul class="breadcrumb v3">
                <li><a href="#">Trang chủ</a></li>
                <li class="active">Đăng ký</li>
            </ul>
            <div style="padding-top: 40px; DISPLAY: FLEX; JUSTIFY-CONTENT: CENTER; " class="pd">
                <div class="account-element bd-7">
                    <div class="cmt-title text-center abs">
                        <h1 class="page-title v1">Đăng ký</h1>
                    </div>
                    <div class="page-content">
                        <p>Đăng ký tài khoản của bạn</p>
                        <div class="form-group">
                            <label>Họ và tên <span class="f-red">*</span></label>
                            @Html.TextBoxFor(model => model.NAME, new { @class = "form-control bdr", @type = "texy", @name = "name", })
                            <div>@Html.ValidationMessageFor(model => model.NAME)</div>
                            <label>Email <span class="f-red">*</span></label>
                            @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control bdr", @type = "email", @name = "username", })
                            <div>@Html.ValidationMessageFor(model => model.EMAIL)</div>
                            <label>Số điện thoại <span class="f-red">*</span></label>
                            @Html.TextBoxFor(model => model.PHONE, new { @class = "form-control bdr", @type = "number", @name = "phone", })
                            <div>@Html.ValidationMessageFor(model => model.PHONE)</div>
                            <label>Mật khẩu <span class="f-red">*</span></label>
                            @Html.TextBoxFor(model => model.PASSWORD, new { @class = "form-control bdr", @type = "password", @name = "password", })
                            <div>@Html.ValidationMessageFor(model => model.PASSWORD)</div>
                            <label>Xác nhận mật khẩu <span class="f-red">*</span></label>
                            @Html.TextBoxFor(model => model.CONFIRM, new { @class = "form-control bdr", @type = "password", @name = "password", })
                            <div>@Html.ValidationMessageFor(model => model.CONFIRM)</div>
                        </div>
                        <div style="justify-content: center;" class="flex lr">
                            <button style="background-image: linear-gradient( 122deg, #17a38d, #1fad9c);" type="submit" class="btn btn-submit btn-gradient">
                                Đăng ký
                            </button>
                        </div>
                        <a href="LoginCustomer/LoginAccount" class="btn-lostpwd spc">Quay về</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}