@model THDShop.ViewModel.DeliAddress.CreateDeliAddressInput
@{
    var Cart = Session["Cart"] as THDShop.ViewModel.Cart;
    ViewBag.Title = "DeliveryFormpPayPal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Assets/css/fixscss.css" rel="stylesheet" />
}


<div class="main-content space1">
    <div class="container container-240">
        <ul class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li class="active">Giỏ hàng</li>
            <li class="active">Thanh toán</li>
        </ul>
        <div class="co-coupon">
            THANH TOÁN PAYPAL
        </div>
            <div class="cart-box-container-ver2">

                <div class="row">
                    @using (Html.BeginForm("PaymentWithPaypal", "Cart", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="col-md-8">
                            <div class="co-left bd-7">
                                <div class="cmt-title text-center abs">
                                    <h1 class="page-title v1">Thông tin khách hàng</h1>
                                </div>
                                <div class="row form-customer">
                                    <div class="form-group col-md-12">
                                        <label for="inputcountry1" class=" control-label">Họ và Tên <span class="f-red">*</span></label>
                                        @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control form-account", @type = "text" } })
                                        <p>@Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })</p>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="inputcompany" class=" control-label">Số điện thoại</label>
                                        @Html.EditorFor(model => model.PHONE, new { htmlAttributes = new { @class = "form-control form-account", @type = "number" } })
                                        <p>@Html.ValidationMessageFor(model => model.PHONE, "", new { @class = "text-danger" })</p>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="inputcountry1" class=" control-label">Địa chỉ <span class="f-red">*</span></label>
                                        @Html.EditorFor(model => model.ADDRESS, new { htmlAttributes = new { @class = "form-control form-account", @type = "text" } })
                                        <p>@Html.ValidationMessageFor(model => model.ADDRESS, "", new { @class = "text-danger" })</p>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="inputstreet" class=" control-label">Quận <span class="f-red">*</span></label>
                                        @Html.EditorFor(model => model.DISTRICT, new { htmlAttributes = new { @class = "form-control form-account", @type = "text" } })
                                        <p>@Html.ValidationMessageFor(model => model.DISTRICT, "", new { @class = "text-danger" })</p>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="inputpostcode" class=" control-label">Phường</label>
                                        @Html.EditorFor(model => model.WARD, new { htmlAttributes = new { @class = "form-control form-account", @type = "text" } })
                                        <p>@Html.ValidationMessageFor(model => model.WARD, "", new { @class = "text-danger" })</p>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="inputfState" class=" control-label">Ghi chú</label>
                                        @Html.TextAreaFor(model => model.NOTE, new { htmlAttributes = new { @class = "form-control form-note", @rows = "8", @placeholder = "Ghi chú ...", @style = "width: 100%;height:100 %" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End contact-form -->
                        <div class="col-md-4">
                            <div class="cart-total bd-7">
                                <div class="cmt-title text-center abs">
                                    <h1 class="page-title v3">Giỏ hàng của bạn</h1>
                                </div>
                                <div class="table-responsive">
                                    <div class="co-pd">
                                        <p class="co-title">
                                            Sản phẩm<span>Tổng</span>
                                        </p>
                                        <ul class="co-pd-list">
                                            <li class="clearfix">
                                                @foreach (var pro in Cart.Items)
                                                {
                                                    double total = pro._product.PRICE * pro._quantity;
                                                    <div class="co-name">
                                                        @Html.DisplayFor(model => pro._product.NAME)  x @Html.DisplayFor(model => pro._quantity)
                                                    </div>
                                                    <div class="co-price">
                                                        @total.ToString("N0") VNĐ
                                                    </div>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                    <table class="shop_table">
                                        <tbody>
                                            <tr class="cart-subtotal">
                                                <th>Tạm tính</th>
                                                <td>@Cart.Total_money().ToString("N0") VNĐ</td>
                                            </tr>
                                            <tr class="cart-shipping v2">
                                                <th>Voucher</th>
                                                <td style="padding-left:90px" class="td">

                                                    <div style="float:left;font-size:16px;">0%</div>
                                                </td>
                                            </tr>
                                            <tr class="order-total v2">
                                                <th>Tổng cộng</th>
                                                <td>@Cart.Total_money().ToString("N0")</td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cart-total-bottom v2">
                                    <input type="submit" style=" border-width: 0px; background-image: linear-gradient( 122deg, #fb3636, #00ae96) !important;" class="btn-gradient btn-checkout btn-co-order" value="Thanh toán" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
    </div>
</div>
