@model THDShop.ViewModel.Cart

@{
    ViewBag.Title = "ShowToCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Assets/css/GioHang.css" rel="stylesheet" />
</head>

<div class="container container-240">

    <div class="checkout">
        <ul class="breadcrumb v3">
            <li><a href="@Url.Action("Index","HomePage")">Trang Chủ</a></li>
            <li class="active">Giỏ Hàng</li>
        </ul>
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="shopping-cart bd-7">
                    <div class="cmt-title text-center abs">
                        <h1 class="page-title v2">Giỏ Hàng</h1>
                    </div>
                    <div class="table-responsive">
                        <table class="table cart-table">

                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model.Items)
                                    {
                                        double total = Convert.ToDouble(item._product.PRICE * item._quantity);
                                <tr class="item_cart">
                                    <td class="product-name flex align-center">
                                        <a href="/Cart/RemoveCart/@item._product.ID" class="btn-del"><i class="ion-ios-close-empty"></i></a>
                                        <div class="product-img">
                                            <img src="@Url.Content(item._product.IMAGE)" alt="Futurelife">
                                        </div>
                                        <div class="product-info">
                                            <a href="/HomePage/Details/@item._product.ID" title="">@Html.DisplayFor(model => item._product.NAME) </a>
                                        </div>

                                    </td>
                                    <td style=" padding: 49px 40px;" class="bcart-quantity single-product-detail">
                                        <div class="single-product-info">
                                            @using (Html.BeginForm("UpdateCart", "Cart"))
                                            {
                                                <div style="width:140px" class="e-quantity">
                                                    <div style="display:flex">
                                                        <input type="hidden" value="@item._product.ID" name="ID_PRODUCT" />
                                                        <input type="number" step="1" min="1" max="999" name="Quantity" value="@item._quantity" title="Qty" class="qty input-text js-number" size="4">
                                                        <input class="btn btn-update" type="submit" value="Cập Nhật" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </td>
                                    <td class="total-price">
                                        <p class="price">@item._product.PRICE.ToString("#,##") <sub>x1</sub></p>
                                    </td>
                                    <td class="total-price">
                                        <p class="price">@total.ToString("#,##")</p>
                                    </td>
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="table-cart-bottom">
                        
                        <div style="width:300px" class="form_coupon">
                            @using (Html.BeginForm("UpdateGift", "Cart"))
                            {
                                <input type="text" placeholder="Khuyến Mãi" name="ID_Gift" class="newsletter-input form-control">
                                <div class="input-icon">
                                    <img src="~/Assets/ECome/img/coupon-icon.png" alt="">
                                </div>
                                <input style="width:100px" class="button_mini btn" type="submit" value="Xác Nhận" />
                            }
                            </div>
                        

                    </div>
                    </div>
                </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="cart-total bd-7">
                    <div class="cmt-title text-center abs">
                        <h1 class="page-title v3">Tổng giỏ hàng</h1>
                    </div>
                    <div class="table-responsive">
                        <table class="shop_table">
                            <tbody>
                                <tr class="cart-subtotal">
                                    <th>Tổng giá</th>
                                    @if (Model != null)
                                    {
                                        <td>@Model.Total_money().ToString("N0")</td>
                                    }
                                    </tr>
                                <tr class="cart-shipping">
                                    <th>Voucher</th>
                                    <td style="padding-left:90px;display:flex;" class="td">
                                        @if(Model != null)
                                        {
                                                if (Session["ID_Gift"] != null)
                                                {
                                                    <div style="float:left;font-size:16px;">@Model._value<span>%</span></div>
                                                }
                                                else
                                                {
                                                    <div style="float:left;font-size:16px;">0%</div>
                                                }
                                        }
                                    <div><a href="/HomePage/Voucher" class="calcu">Lấy Voucher</a></div>
                                        
                                    </td>

                                </tr>
                                <tr class="order-total">
                                    <th style="padding-bottom: 20px;font-size: 25px;">Tổng</th>
                                    @if (Model != null)
                                    {
                                        if (Session["ID_Gift"] != null)
                                        {
                                            <td>@Model.Total_money_GIFT()</td>
                                        }
                                        else
                                        {   if (Session["ID_Gift"]==null)
                                            {<td>@Model.Total_money().ToString("N0")</td>}
                                        }
                                    }
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="cart-total-bottom">
                        <a style="background-image: linear-gradient( 122deg, #fb3636, #00ae96) !important;" href="/Cart/DeliveryForm" class="btn-gradient btn-checkout">Tiền mặt khi giao hàng (COD)</a>
                    </div>
                    <div class="sign-in-divider">
                        <span>or</span>
                    </div>
                    <div class="cart-total-bottom pp-checkout">
                        <a href="/Cart/DeliveryFormPayPal"><img src="~/Assets/ECome/img/checkoutpp.jpg" alt="" class="img-responsive"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

