<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>E-come | Multi-Purpose HTML Template for Electronics Store</title>

    <link href="~/Assets/css/fontasp.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/ECome/css/owl.carousel.min.css">
    <link rel="shortcut icon" href="~/Assets/ECome/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="~/Assets/ECome/css/slick.css">
    <link rel="stylesheet" href="~/Assets/ECome/css/slick-theme.css">
    <link rel="stylesheet" href="~/Assets/ECome/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/ECome/css/style.css">
    <link href="~/Assets/css/fixscss.css" rel="stylesheet" />
</head>

<body>
    <div class="font_asap">
        <div class="wrappage">
            <header id="header" class="header-v1">
                <div style="padding-top:0px;padding-bottom:10px" class="header-center">
                    <div style="padding-top:0px;padding-bottom:0px" class="container container-240">
                        <div class="row flex">
                            <div style="padding-top:40px" class="col-lg-2 col-md-2 col-sm-6 col-xs-6 v-center header-logo">
                                <a href="@Url.Action("Index","HomePage")"><img src="~/Assets/Images/logothdshopbgwhite.png" alt="" class="img-reponsive"></a>
                            </div>
                            <div style="padding-left:170px" class="col-lg-7 col-md-7 v-center header-search hidden-xs hidden-sm">
                                <form method="get" class="searchform ajax-search" action="/search" role="search">
                                    <input type="hidden" name="type" value="product">
                                    <input style="border-radius: 31px 31px 31px 31px;" type="text" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" name="q" class="form-control" placeholder="Tìm kiếm sản phẩm...">
                                    <ul class="list-product-search hidden-xs hidden-sm">
                                        <li>
                                            <a class="flex align-center" href="">
                                                <div class="product-img">
                                                    <img src="~/Assets/ECome/img/product/iphonex.jpg" alt="">
                                                </div>
                                                <h3 class="product-title">Notebook Black Spire Smartphone Black 2.0</h3>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="flex align-center" href="">
                                                <div class="product-img">
                                                    <img src="~/Assets/ECome/img/product/sound.jpg" alt="">
                                                </div>
                                                <h3 class="product-title">Smartphone 6S 64GB LTE</h3>
                                            </a>
                                        <li>
                                            <a class="flex align-center" href="">
                                                <div class="product-img">
                                                    <img src="~/Assets/ECome/img/product/phone4.jpg" alt="">
                                                </div>
                                                <h3 class="product-title">Notebook Black Spire Smartphone Black 2.0</h3>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="flex align-center" href="">
                                                <div class="product-img">
                                                    <img src="~/Assets/ECome/img/product/phone5.jpg" alt="">
                                                </div>
                                                <h3 class="product-title">Smartphone 6S 64GB LTE </h3>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="flex align-center" href="">
                                                <div class="product-img">
                                                    <img src="~/Assets/ECome/img/product/phone1.jpg" alt="">
                                                </div>
                                                <h3 class="product-title">Notebook Black Spire Smartphone Black 2.0</h3>
                                            </a>
                                        </li>
                                    </ul>
                                    <span style="width:167px" class="input-group-btn">
                                        <button class="button_search" type="button"><i class="ion-ios-search-strong"></i></button>
                                    </span>
                                </form>
                            </div>
                            <div style="padding-top:40px" class="col-lg-3  col-md-3 col-sm-6 col-xs-6 v-center header-sub">
                                <div class="right-panel">
                                    <div class="header-sub-element row">
                                        @if (Session["Email"] != null)
                                        {
                                            <a class="hidden-xs hidden-sm" href="@Url.Action("EditAccount", "LoginCustomer", new { id = Session["ID"] })"><img src="~/Assets/ECome/img/icon-user.png" alt=""></a>
                                        }
                                        else
                                        { <a class="hidden-xs hidden-sm" href="#"><img src="~/Assets/ECome/img/icon-user.png" alt=""></a>
                                        }
                                        <div class="cart">
                                            <a href="@Url.Action("ShowToCart","Cart")" class="dropdown-toggle">
                                                <img src="~/Assets/ECome/img/icon-cart.png" alt="">
                                                <span>@Html.Action("BagCart", "Cart")</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="hidden-md hidden-lg icon-pushmenu js-push-menu">
                                        <i class="fa fa-bars f-15"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom hidden-xs hidden-sm">
                    <div class="container container-240">
                        <div class="row flex lr2">
                            <div class="col-lg-3 widget-verticalmenu">
                                <div class="navbar-vertical">
                                    <button style="background-image: linear-gradient( 122deg, #fb3636, #00ae96) !important;" class="navbar-toggles"><span>Danh mục sản phẩm</span></button>
                                </div>
                                <div class="vertical-wrapper">
                                    <ul class="vertical-group">
                                        <li class="vertical-item level1 vertical-drop">
                                            <a href="#">Thương Hiệu</a>
                                            <div style="height:auto !important;" class="menu-level-1 dropdown-menu vertical-menu">
                                                <ul class="vertical-menu1">
                                                    @{ Html.RenderAction("LoaiPartial", "Category");}

                                                </ul>
                                            </div>
                                        </li>

                                        <li class="vertical-item level1 vertical-drop">
                                            <a href="#">Laptop Gaming</a>
                                            <div style="height:auto !important;" class="menu-level-1 dropdown-menu vertical-menu">
                                                <ul class="vertical-menu1">
                                                    <li><a href="#">Acer</a></li>
                                                    <li><a href="#">Asus</a></li>
                                                    <li><a href="#">MSI</a></li>
                                                    <li><a href="#">Lenovo</a></li>
                                                    <li><a href="#">HP</a></li>
                                                    <li><a href="#">Gigabyte</a></li>
                                                    <li><a href="#">Dell</a></li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li class="vertical-item level1 vertical-drop">
                                            <a href="#">Laptop Studying</a>
                                            <div style="height:auto !important;" class="menu-level-1 dropdown-menu vertical-menu">
                                                <ul class="vertical-menu1">
                                                    <li><a href="#">Acer</a></li>
                                                    <li><a href="#">Asus</a></li>
                                                    <li><a href="#">MSI</a></li>
                                                    <li><a href="#">Lenovo</a></li>
                                                    <li><a href="#">Dell</a></li>
                                                    <li><a href="#">LG</a></li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li class="vertical-item level1 vertical-drop">
                                            <a href="#">Laptop Working</a>
                                            <div style="height:auto !important;" class="menu-level-1 dropdown-menu vertical-menu">
                                                <ul class="vertical-menu1">
                                                    <li><a href="#">Acer</a></li>
                                                    <li><a href="#">Asus</a></li>
                                                    <li><a href="#">MSI</a></li>
                                                    <li><a href="#">Lenovo</a></li>
                                                    <li><a href="#">Dell</a></li>
                                                    <li><a href="#">LG</a></li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li class="vertical-item level1 vertical-drop">
                                            <a href="#">Theo Giá</a>
                                            <div style="height:auto !important;" class="menu-level-1 dropdown-menu vertical-menu">
                                                <ul class="vertical-menu1">
                                                    <li><a href="#">Dưới 15 triệu</a></li>
                                                    <li><a href="#">Từ 15 đến 20 triệu</a></li>
                                                    <li><a href="#">Từ 20 đến 30 triệu</a></li>
                                                    <li><a href="#">Từ 30 đến 40 triệu</a></li>
                                                    <li><a href="#">Trên 40 triệu</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-9 widget-left">
                                <div class="flex lr">
                                    <nav class="main-menu">
                                        <div class="collapse navbar-collapse" id="myNavbar">
                                            <ul class="nav navbar-nav js-menubar">
                                                <li class="level1 active hassub">
                                                    <a href="@Url.Action("Index","HomePage")">Trang Chủ</a>
                                                </li>
                                                <li class="level1 dropdown hassub">
                                                    <a href="@Url.Action("Product","HomePage")">Sản Phẩm<span class="h-ribbon h-pos e-skyblue">MỚI</span></a>
                                                </li>
                                                <li class="level1 active dropdown">
                                                    <a href="@Url.Action("Index","HomeUser")"><img src="~/Assets/ECome/img/icon-diamond.png" alt="">Flash Sale<span class="h-ribbon h-pos e-green">SALE</span></a>
                                                </li>
                                                <li class="level1 active dropdown">
                                                    <a href="@Url.Action("Voucher", "HomePage")">Voucher<span class="h-ribbon h-pos e-skyblue">MỚI</span></a>
                                                </li>
                                                <li class="level1 active dropdown">
                                                    <a href="@Url.Action("Create", "Phanhoi")">Phản hồi</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                    <div class="header-bottom-right hidden-xs hidden-sm">
                                        <ul class="nav navbar-nav js-menubar">
                                            @if (Session["Email"] == null)
                                            {
                                                <li class="level1 active hassub">
                                                    <a href="@Url.Action("RegisterUser", "LoginCustomer")">Đăng ký</a>
                                                </li>
                                                <li class="level1 active hassub">
                                                    <a href="@Url.Action("LoginAccount", "LoginCustomer")">Đăng nhập</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="level1 active hassub">
                                                    <span>@Session["Email"]</span>
                                                </li>
                                                <li class="level1 active hassub">
                                                    <a href="@Url.Action("Logout", "LoginCustomer")">Đăng xuất</a>
                                                </li>
                                                <li class="level1 active hassub">
                                                    <a href="@Url.Action("MyGift", "LoginCustomer",new { id = Session["ID"] })">Kho Voucher</a>
                                                </li>
                                                <li class="level1 active hassub">
                                                    <a href="@Url.Action("DonDat", "LoginCustomer",new { id = Session["ID"] })">Xem đơn đặt</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- /header -->
            <div class="ads-group v3 " style="height: -webkit-fill-available;">
                <div class="container container-240">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 set-w"></div>
                        <div class="col-lg-9 col-md-9 set-w2">
                            <div class="row">
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="slide">
                                        <div style="height: 39%;" class="e-slide v2 js-slider-3items">
                                            <div class="e-slide-img v2">
                                                <a href="#"><img width="721" height="300" src="~/Assets/Images/QuangCao/slideshow_1.jpg" alt=""></a>
                                            </div>
                                            <div class="e-slide-img v2">
                                                <a href="#"><img width="721" height="300" src="~/Assets/Images/QuangCao/slideshow_3.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="ads">
                                        <div style="height: 39%;" class="banner-img banner-img2">
                                            <a href="#"><img style="height:310px" src="~/Assets/Images/QuangCao/solid1.jpg" alt="" class="img-responsive"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="homepage-banner" style="height: -webkit-fill-available;">
                <div class="container container-240">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="banner-img banner-img2">
                                <a href="#"><img src="~/Assets/Images/QuangCao/solid4.jpg" alt="" class="img-responsive"></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="banner-img banner-img2">
                                <a href="#"><img src="~/Assets/Images/QuangCao/solid5.jpg" alt="" class="img-responsive"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container container-240">
                <div class="e-cat">

                    <!-- Asus -->
                    <div class="bestseller">
                        <div class="ecome-heading style3 spc3">
                            
                           
                            <h1>SẢN PHẨM</h1>
                            <a href="@Url.Action("Index","HomePage")" class="btn-show">Xem thêm<i class="ion-ios-arrow-forward"></i></a>

                        </div>
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- / end content -->
            <footer>
                <div class="f-bottom">
                    <div class="container container-240">
                        <div class="row flex lr">
                            <div class="col-xs-6 f-copyright"><span>© 2021 Đường Hải Thịnh.</span></div>
                            <div class="col-xs-6 f-payment hidden-xs">
                                <a href="#"><img src="~/Assets/ECome/img/payment/paypal.png" alt="" class="img-reponsive"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- /footer -->
            <!-- /footer -->
        </div>
                </div>
                <script src="~/Assets/ECome/js/jquery.js"></script>
                <script src="~/Assets/ECome/js/bootstrap.js"></script>
                <script src="~/Assets/ECome/js/owl.carousel.min.js"></script>
                <script src="~/Assets/ECome/js/slick.js"></script>
                <script src="~/Assets/ECome/js/countdown.js"></script>
                <script src="~/Assets/ECome/js/main.js"></script>
</body>

</html>