@model THDShop.ViewModel.Gift.CreateGiftInput

@{
    ViewBag.Title = "Create";
}
<head>
    <link href="~/form/css/StyleSheet.css" rel="stylesheet" />
</head>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Tạo voucher</h1>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="display: flex; align-items: flex-start;">
        <div class="text-center-box">
            <div class="paddingtop rl" style="padding-bottom: 20px;">
                <div class="form">
                    <!-- Mã -->
                    <div class="form-group">
                        @Html.EditorFor(model => model.ID, new { htmlAttributes = new { placeholder = "Mã Voucher" } })
                        @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                    </div>

                    <!-- Điểm để đổi -->
                    <div class="form-group ">
                        @Html.EditorFor(model => model.G_POINT, new { htmlAttributes = new { placeholder = "Điểm" } })
                        @Html.ValidationMessageFor(model => model.G_POINT, "", new { @class = "text-danger" })
                    </div>

                    <!-- Số Lượng -->
                    <div class="form-group">
                        @Html.EditorFor(model => model.G_VALUE, new { htmlAttributes = new { placeholder = "% Giảm (1-100)" } })
                        @Html.ValidationMessageFor(model => model.G_VALUE, "", new { @class = "text-danger" })
                    </div>

                    <!-- Thời gian bắt đầu -->
                    <div class="form-group">
                        @Html.EditorFor(model => model.G_START, new { htmlAttributes = new { placeholder = "Thời gian bắt đầu" } })
                        @Html.ValidationMessageFor(model => model.G_START, "", new { @class = "text-danger" })
                    </div>

                    <!-- Thời gian kết thúc -->
                    <div class="form-group">
                        @Html.EditorFor(model => model.G_END, new { htmlAttributes = new { placeholder = "Thời gian kết thúc" } })
                        @Html.ValidationMessageFor(model => model.G_END, "", new { @class = "text-danger" })
                    </div>

                    <!-- mô tả -->
                    <div class="form-group">
                        @Html.EditorFor(model => model.DESCREPTION, new { htmlAttributes = new { placeholder = "Mô tả voucher" } })
                        @Html.ValidationMessageFor(model => model.DESCREPTION, "", new { @class = "text-danger" })
                    </div>

                    <!-- số lượng -->
                    <div class="form-group">
                        @Html.EditorFor(model => model.QUANTITY, new { htmlAttributes = new { placeholder = "Số lượng" } })
                        @Html.ValidationMessageFor(model => model.QUANTITY, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Buttons -->
                <div>
                    <input class="btn btn-success" type="submit" value="Tạo" />
                    <span class="btn btn-link">@Html.ActionLink("Quay về", "Index") </span>
                </div>
            </div>
        </div>
    </div>
}
